<style>

	.scrolled {
		background-color: #fff !important;
		transition: background-color 200ms linear;
	}

	.border-0 {
		border-radius: 0 !important;
	}

	body {
		overflow-x: hidden;
		background: #fff;
	}
</style>

<div id="navbar-scrolled" class="fixed-top">
	<nav class="navbar navbar-expand-lg container">
			
		<div class="header-left">
				<a href="#" class="brand-logo">
					<img height="50" src="images/logo/homeplate.png">
				</a>
			</div>
			<div class="header-right">
			<a href="#" class="navbar-toggler brand-logo border-0 mr-3" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					<span class="navbar-toggler-icon"></span>
				</a>
			</div>

		<div class="collapse navbar-collapse justify-content-end" id="collapseExample">
			<div class="header-left">
			</div>

			<div class="header-right">
				<ul class="navbar-nav">

					<li class="nav nav-pills">
						<a href="javascript:void(0)" class="nav-link ">
							<h4 class="mb-0">Home</h4>
						</a>
					</li>
					<li class="nav nav-pills">
						<a href="javascript:void(0)" class="nav-link ">
							<h4 class="mb-0">Booking</h4>
						</a>
					</li>
					<li class="nav nav-pills">
						<a href="javascript:void(0)" class="nav-link ">
							<h4 class="mb-0">Shop</h4>
						</a>
					</li>
					<li class="nav nav-pills">
						<a href="javascript:void(0)" class="nav-link ">
							<h4 class="mb-0">News</h4>
						</a>
					</li>
					<li class="nav nav-pills mr-3">
						<a href="javascript:void(0)" class="nav-link ">
							<h4 class="mb-0">Event</h4>
						</a>
					</li>

				</ul>
			</div>
			<div class="header-right align-items-center">
				<div class="mx-3">
					<a href="javascript:void(0)" class="btn btn-primary btn-sm me-2">Sign Up</a>
					<a href="javascript:void(0)" class="btn btn-secondary btn-sm me-2">Sign In</a>
				</div>

			</div>
		</div>
	</nav>
</div>

<script src="~/main-script-page/homepage/homepage.js"></script>