<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Yeshadmin:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="Yeshadmin:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="Yeshadmin:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://yeshadmin.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>Homeplate - Batting Cage Bandung</title>
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">

	<link href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="~/lib/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/lib/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
	<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<!-- tagify-css -->
	<link href="~/lib/tagify/dist/tagify.css" rel="stylesheet">

	<!-- Style css -->
	<link href="./css/style.css" rel="stylesheet">
	
</head>

<body>
        <main role="main" class="pb-3">
		@{
			var routeUrl = this.ViewContext.RouteData.Values["controller"].ToString();
			var pages = new List<string> { "AdminZone", "MemberZone" };
			if (pages.Any(routeUrl.Contains))
			{
				<div id="preloader">
					<div>
						<img src="images/pre.gif" alt="">
					</div>
				</div>
				<div id="main-wrapper">

					<partial name="~/Views/Shared/MainComponent/Header.cshtml"></partial>
					<partial name="~/Views/Shared/MainComponent/Sidebar.cshtml"></partial>
					<div class="content-body">
						<!-- row -->
						<div class="container-fluid">
							@RenderBody()
						</div>
					</div>
					<partial name="~/Views/Shared/MainComponent/Footer.cshtml"></partial>

				</div>
			}
			else
			{
				@RenderBody()
			}

		}
        </main>
</body>


<!--**********************************
        Scripts
    ***********************************-->
<!-- Required vendors -->
<script src="~/lib/global/global.min.js"></script>
<script src="~/lib/chart.js/Chart.bundle.min.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/lib/apexchart/apexchart.js"></script>

<!-- Dashboard 1 -->
<script src="./js/dashboard/dashboard-1.js"></script>
<script src="~/lib/draggable/draggable.js"></script>
<script src="~/lib/swiper/js/swiper-bundle.min.js"></script>


<!-- tagify -->
<script src="~/lib/tagify/dist/tagify.js"></script>

<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.buttons.min.js"></script>
<script src="~/lib/datatables/js/buttons.html5.min.js"></script>
<script src="~/lib/datatables/js/jszip.min.js"></script>
<script src="~/js/plugins-init/datatables.init.js"></script>

<!-- Apex Chart -->

<script src="~/lib/bootstrap-datetimepicker/js/moment.js"></script>
<script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


<!-- Vectormap -->
<script src="~/lib/jqvmap/js/jquery.vmap.min.js"></script>
<script src="~/lib/jqvmap/js/jquery.vmap.world.js"></script>
<script src="~/lib/jqvmap/js/jquery.vmap.usa.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/deznav-init.js"></script>
<script src="~/js/demo.js"></script>


</html>