@{
	ViewData["Title"] = "Home Page";
}

<partial name="~/Views/Home/CustomizeCss/HomeNavbar.cshtml"></partial>
<style>
	.hero-section h1 {
		font-size: 48px;
		font-weight: bold;
	}

	.hero-section p {
		font-size: 18px;
	}
</style>

<section style="margin-bottom:100px;">
	<div class="bg-blue-strip">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ml-auto">
				<div class="card hero-section bg-transparent border border-0">
					<div class="row my-auto">
						<div class="col-md-12">
							<h1 class="mb-0">Baseball-Softball </h1>
							<h1 class="mt-0 mb-4">Public <span class="text-primary">Batting</span> Cage!</h1>
							<p class="mb-0">Baseball - Softball Public Arena, New Place, New Energy,</p>
							<p> New Vibes, New Home Plate . We are here! open everyday in laswee Bandung.</p>
							<a href="#" id="home-btn_book_now" class="btn btn-primary btn-sm-block btn-lg">Book Now</a>
							<a href="#" class="btn btn-outline-primary btn-sm-block btn-lg">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 mr-auto">
				<div class="card bg-transparent border border-0">

					<div class="owl-carousel owl-theme owl-img-responsive" id="owl-carousel">
						<div class="item">
							<img class="img-fluid" src="~/images/carousel/1.png" />
						</div>
						<div class="item">
							<img class="img-fluid" src="~/images/carousel/3.png" />
						</div>
						<div class="item">
							<img class="img-fluid" src="~/images/carousel/4.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="new-arrival-product bg-middle-dots" style="margin-bottom :100px; ">
	<div class="new-arrivals-img-contnent">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card bg-transparent border-0  my-auto">
						<div class="card-body">
							<div class="row  my-auto">
								<div class="col-7 my-auto">
									<div class="mb-4 mb-xxl-4 mb-md-0">
										<img class="img-fluid" src="~/images/img-sampler.png" alt="">
									</div>
								</div>
								<div class="col-5 my-auto">
									<div class="new-arrival-content">
										<h1 class=" text-white">Playing while Training</h1>
										<p class="text-light font-weight-normal text-justify">Unlock your full potential with professional guidance at Homeplate with expert coaches. Enhance your skills and elevate your game under the guidance of our experienced trainers, providing personalized instruction and valuable insights for baseball and softball enthusiasts in Bandung.</p>
										<a href="#contact" class="btn btn-outline-warning btn-sm-block  btn-lg">Get Membership</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="container">
			<div class="col-6">
				<h1>Our Service </h1>
				<p>
					Experience a comprehensive range of baseball services catered to your needs, including batting cage rentals, professional coaching sessions, and a diverse selection of top-quality merchandise.
				</p>
			</div>
			<div class="row pt-4">
				
				<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
					<div class="card bg-primary border-0">
						<div class="card-body">
							<img width="100" class="mb-5" src="images/background/1.png">

							<h3 class="text-white font-weight-bold mb-2">Baseball-Softball</h3>
							<p class="text-white text0jjustify">
								A fun environment for baseball and softball fans to practice their swing and improve their skills.
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
					<div class="card bg-transparent border-0" style="border:1px solid #00558B !important;">
						<div class="card-body">
							<img width="100" class="mb-5" style="border:1px solid #00558B !important;" src="images/background/9.png">

							<h3 class="text-primary font-weight-bold mb-2">Rent Arena</h3>
							<p class="text-primary text0jjustify">
								The facility offers convenient cage rentals for baseball and softball enthusiasts, providing a dedicated space to practice, train, and improve your skills.
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
					<div class="card bg-primary border-0">
						<div class="card-body">
							<img width="100" class="mb-5" src="images/background/3.png">

							<h3 class="text-white font-weight-bold mb-2">Coaching</h3>
							<p class="text-white text0jjustify">
								Elevate your baseball skills with professional coaching. Our expert trainers provide personalized instruction and guidance to help you improve your technique.
							</p>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
					<div class="card bg-transparent border-0" style="border:1px solid #00558B !important;">
						<div class="card-body">
							<img width="100" class="mb-5" style="border:1px solid #00558B !important;" src="images/background/10.png">

							<h3 class="text-primary font-weight-bold mb-2">Merchant</h3>
							<p class="text-primary text0jjustify">
								Discover a wide range of high-quality baseball merchandise. From bats and gloves to apparel and accessories, our store offers everything you need to gear up and show your love for the game.
							</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</section>


<div class="container-fluid bg-primary" id="container-book_now">
	<div class="container text-center">
		<div class="row pt-4">

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title ">MEMBERSHIP</h1>
								<h1 class="card-title pricing-card-title ">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4 ">
									<li>5 Hours</li>
									<li><b class="text-success">Free 1 Hours on Weekday</b></li>
									<li>Without Coach</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-outline-warning">Join Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">MEMBERSHIP</h1>
								<h1 class="card-title pricing-card-title">IDR 2.600.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>12 Hours</li>
									<li><b class="text-success">Free Coach for 12 Hours</b></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-outline-warning">Join Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">Happy Hour</h1>
								<h1 class="card-title pricing-card-title">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">Weekday</h1>
								<h1 class="card-title pricing-card-title">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

		</div>

		<div class="row pt-4">

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title ">MEMBERSHIP</h1>
								<h1 class="card-title pricing-card-title ">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4 ">
									<li>5 Hours</li>
									<li><b class="text-success">Free 1 Hours on Weekday</b></li>
									<li>Without Coach</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">MEMBERSHIP</h1>
								<h1 class="card-title pricing-card-title">IDR 2.600.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>12 Hours</li>
									<li><b class="text-success">Free Coach for 12 Hours</b></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">Happy Hour</h1>
								<h1 class="card-title pricing-card-title">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-lg-3 col-md-3 col-md-6 col-sm-6">
				<div class="card border-0">
					<div class="card-body">
						<div class="new-arrival-product mb-4 mb-xl-4 mb-md-0">
							<div class="new-arrivals-img-contnent">
								<h1 class="card-title pricing-card-title">Weekday</h1>
								<h1 class="card-title pricing-card-title">IDR 1.000.000</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex m-3">
						<button type="button" class="btn btn-lg btn-block mt-auto btn-primary">Book Now</button>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>

<footer class="text-center text-lg-start">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
		<!-- Section: Links -->
		<section class="">
			<!--Grid row-->
			<div class="row">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">
						Company name
					</h6>
					<p>
						Here you can use rows and columns to organize your footer
						content. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit.
					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
					<p>
						<a class="text-white">MDBootstrap</a>
					</p>
					<p>
						<a class="text-white">MDWordPress</a>
					</p>
					<p>
						<a class="text-white">BrandFlow</a>
					</p>
					<p>
						<a class="text-white">Bootstrap Angular</a>
					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">
						Useful links
					</h6>
					<p>
						<a class="text-white">Your Account</a>
					</p>
					<p>
						<a class="text-white">Become an Affiliate</a>
					</p>
					<p>
						<a class="text-white">Shipping Rates</a>
					</p>
					<p>
						<a class="text-white">Help</a>
					</p>
				</div>

				<!-- Grid column -->
				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
					<p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
					<p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
					<p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
					<p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
				</div>
				<!-- Grid column -->
			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->

		<hr class="my-3">

		<!-- Section: Copyright -->
		<section class="p-3 pt-0">
			<div class="row d-flex align-items-center">
				<!-- Grid column -->
				<div class="col-md-7 col-lg-8 text-center text-md-start">
					<!-- Copyright -->
					<div class="p-3">
						© 2020 Copyright:
						<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
					</div>
					<!-- Copyright -->
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
					<!-- Facebook -->
					<a class="btn btn-outline-light btn-floating m-1"
					   class="text-white"
					   role="button">
						<i class="fab fa-facebook-f"></i>
					</a>

					<!-- Twitter -->
					<a class="btn btn-outline-light btn-floating m-1"
					   class="text-white"
					   role="button">
						<i class="fab fa-twitter"></i>
					</a>

					<!-- Google -->
					<a class="btn btn-outline-light btn-floating m-1"
					   class="text-white"
					   role="button">
						<i class="fab fa-google"></i>
					</a>

					<!-- Instagram -->
					<a class="btn btn-outline-light btn-floating m-1"
					   class="text-white"
					   role="button">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
				<!-- Grid column -->
			</div>
		</section>
		<!-- Section: Copyright -->
	</div>
	<!-- Grid container -->
</footer>

					<script src="~/script/Home/home.js"></script>